body {
    font-family: 'Open Sans', sans-serif;
    background-color: teal;
    background-image: linear-gradient(teal, lightblue);
}

h1, h2, h3 {
    font-family: 'Lobster Two', cursive;
}

.wrapper {
    display: grid;
}

.savebtn {
    width: auto;
    padding: 10px;
    background-color: aliceblue;
    border: 1px solid gray;
}